/* Style rule for the head elements */
/* Style rule for the body elements */
body{
  background-color: #CCCCCC;
}
/* Style rule for the top nav bar elements */
#topnav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
li {
    display: inline;
}
/* Style rule div image boxes */
.wrapper {
  text-align: center;
}
.project {
  border: 1px solid blue;
  display: inline-block;
  text-align: center;
  width: 300px;
  margin: 20px;
  padding: 10px;
}
.image{
  width: 100%;
      height: auto;
  /*width: 80%;*/
}

/* Style rule for the [change to footer] bottom nav bar elements */
#bottomnav {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    float:right;
}
/* media queries*/
@media screen and (max-width: 1224px) {
  body {
    background-color: pink;
  }
/* it gets really big like this, why? .project {
    width: 70%;
  }*/
  }
  @media screen and (max-width: 768px) {
    body {
      background-color: blue;
    }
    .project {
      width: 50%;
    }
   }
     @media screen and (max-width: 480px) {
       body {
         background-color: yellow;
       }
       .project {
         width: 30%;
       }
     }
